/*!
  Author: Yukashimi
  Date: 12/12/2018
  File: eqtprev.css
*/

.avatar{
  border: 3px solid #2ca4db;
}

body{
  background: #bce6e0;
}

.bot-message, .bot, #convo_list > li:nth-child(odd){
  background: #2ca4db;
}

.chat-button{
  background: #050a63;
}

.chat-button:disabled{
  background: #c6ab8c;
  color: #65958c;
}

.chat-button:hover:enabled{
  background: #070829;
  transition-duration: 0.8s;
}

.chat-button:active:enabled{
  background: #000;
  transition-duration: 0.1s;
}

#checkup{
  border: 1px solid #381b02;
}

.clicked:disabled{
  background: #274f77 !important;
}

.docs-toggler:hover{
  background: #53aecc;
  transition-duration: 0.3s;
}

.glossary{
  background: #fff;
  border: 0;
  border-radius: 12px;
  color: #2ca4db;
  padding: 1px 6px;
}

li.user{
  background: #447678;
  color: #fff;
}

.message:after{
  border-bottom-color: #2ca4db;
}

.msg-submit{
  background: #f2f5f8;
  color: #080f8e;
}

.msg-submit:hover, .fa-file-o:hover, .fa-file-image-o:hover{
  color: #91072c;
}

.monika-link, .chat-link{
  color: #002760;
}

.new, #dl{
  background: #2ca4db;
}

.new:hover, #dl:hover{
  background: #447678;
  transition-duration: 0.8s;
}

.new:active, #dl:active{
  background: #000;
  transition-duration: 0.1s;
}

.online{
  color: #2ca4db;
}

#response{
  background: rgba(110, 200, 187, 0.6);
}

.user{
  color: #447678;
}

.user-message, #convo_list > li:nth-child(even){
  background: #447678;
}

.user-message:after{
  border-bottom-color: #447678;
}