/*!
  Author: Yukashimi
  Date: 18/09/2018
  File: format-analytic.css
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after{
  box-sizing: border-box;
}

.analytic-box{
  margin: 15px auto 0 auto;
  width: 90%;
}

body{
  background: #95ef81;
  font: 14px/20px "Lato", Arial, sans-serif;
}

.bot{
  background: #088e0c;
}

.user{
  background: #1396d3;
}

.bubble{
  border: 0;
  border-radius: 8px;
  color: #fff;
  margin: 3px 0;
  padding-left: 7px;
}

#checkup{
  border: 1px solid #023810;
  border-radius: 5px;
  margin: 3px 0;
  padding: 2px 2px 2px 6px;
  width: 70%;
}

#convo_list{
  /*flex-wrap: wrap;*/
  height: 95%;
  overflow-y: auto;
}

#convo_list > li:nth-child(even){
  background: #1396d3;
}

#convo_list > li:nth-child(odd){
  background: #088e0c;
}

#convo_list > li{
  border-radius: 12px;
  color: #fff;
  flex: 0 0 22%;
  margin: 7px;
  text-align: center;
}

#date-buttons{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

#graph{
  flex: none;
}

#graph-box, #info{
  align-items: center;
  flex: none;
  height: 540px;
  overflow: hidden;
  transition-duration: 1s;
}

#graph-data{
  background: #173810;
  border: 0;
  border-radius: 17px;
  color: #fff;
  padding: 5px 0;
  transition-duration: 0.3s;
  width: 80%;
}

#graph-data:hover{
  background: #088e0c;
  transition-duration: 0.7s;
}

#graph-data:active{
  background: #fff;
  color: #000;
  transition-duration: 0.1s;
}

#full{
  flex: none;
  height: 430px;
  overflow: hidden;
  transition-duration: 1s;
  width: 840px;
}

#full > ul{
  background: #fff;
  height: 350px;
  margin: 50px 0 0 15px;
  overflow-y: scroll;
  width: 100%;
}

/* WHAT IN TARNATION???? */
ul > li > span{
  color: #000 !important;
}

/*#data-selector{
  background: #173810;
  border: 0;
  color: #fff;
}*/

.hide-li{
  border: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  transition-duration: 1s;
  overflow: hidden;
}

.hide-x{
  border: 0 !important;
  padding: 0 !important;
  transition-duration: 1s;
  width: 0 !important;
}

.hide-y{
  height: 0 !important;
  transition-duration: 1s;
}

#hide-graph, #hide-list{
  background: #090a6b;
  border: 0;
  border-radius: 14px;
  color: #fff;
  height: 25px;
  transition-duration: 0.3s;
  width: 230px;
}

#hide-graph:hover, #hide-list:hover{
  background: #1396d3;
  transition-duration: 0.7s;
}

#hide-graph:active, #hide-list:active{
  background: #fff;
  color: #000;
  transition-duration: 0.1s;
}

.info{
  background: #757587;
}

.info-box{
  height: 0;
  transition-duration: 0.3s;
  overflow: hidden;
}

.info-box > ul{
  height: 200px;
  overflow-y: scroll
}

#kinds{
  width: 75px;
}

#kinds, #param{
  transition-duration: 0.4s;
}

#list{
  background: #fff;
  background-repeat: no-repeat;
  flex: 0 0 26%;
  max-height: 515px;
  margin: auto 0;
  overflow-y: hidden;
  text-align: center;
  transition-duration: 1s;
}

#logo{
  height: 330px;
  overflow-y: hidden;
  transition-duration: 0.5s;
}

.logo-img{
  background: transparent/*#fff*173810*/;
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  transition-duration: 0.5s;
  width: 60%;
}

.logo-img:hover{
  background: #173810;
  transition-duration: 0.5s;
}

.more-info{
  background: #bebebe;
  border: 0;
  border-radius: 9px;
  margin-bottom: 6px;
  transition-duration: 0.3s;
  width: 30%;
}

.more-info:hover{
  background: #fff;
  transition-duration: 0.8s;
}

.more-info:active{
  background: #f00c0c;
  color: #fff;
  transition-duration: 0.1s;
}

.new, .pending, .return{
  border-radius: 12px;
  color: #fff;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
}

.new{
  background: #073b05;
}

.new:hover{
  background: #0c8f40;
  transition-duration: 0.8s;
}

.new:active{
  background: #000;
  transition-duration: 0.1s;
}

.new-input{
  width: 98%;
}

#param{
  width: 150px;
}

.pending{
  background: #9e0404;
  display: block;
  margin-left: -7px;
  width: 50%;
}

.pending:hover{
  background: #600000;
  transition-duration: 0.8s;
}

.pending:active{
  background: #000;
  transition-duration: 0.1s;
}

#previous, #virgin{
  max-height: 515px;
  overflow-y: auto;
}

#relate{
  resize: none;
}

#response{
  background: rgba(141, 200, 110, 0.6); /*#8dc86e99;*/
  border-radius: 12px;
  height: 150px;
  overflow-y: auto;
  padding: 3px 7px;
  text-align: justify;
  width: 300px;
}

#response-box{
  height: 180px;
  margin: 5px 0;
  overflow: hidden;
  transition-duration: 0.6s;
}

.return{
  background: #07055c;
}

.return:hover{
  background: #195cd1;
  transition-duration: 0.8s;
}

.return:active{
  background: #000;
  transition-duration: 0.1s;
}

#question{
  width: 28%;
}

#start, #end{
  overflow: hidden;
  margin: 2px 3px;
}

.summary{
  background: #fff;
  color: #000;
}

#support{
  height: 230px;
  overflow-y: hidden;
}

.support-box{
  margin: 0 auto;
  transition-duration: 0.5s;
}

#return-box{
  height: 70px;
  overflow-y: hidden;
  transition-duration: 0.6s;
}

#show-graph{
  background: #6bc382;
  border: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 25px;
  margin: 2px 0 0 15px;
  transition-duration: 0.3s;
  width: 98%;
}

#show-graph:hover{
  background: #0a8146;
  color: #000;
  transition-duration: 0.8s;
}

.show-info{
  height: 200px !important;
  transition-duration: 0.3s;
}

#virgin > ul > li{
  margin-bottom: 2px;
}
