/*!
  Author: Yukashimi
  Date: 18/07/2018
  File: format-log.css
*/

#console{
  left: 30px;
  position: absolute;
  top: 15px;
  width: 350px;
}

#console > div{
  background: #000;
  border: 1px solid #0c2606;
  color: #fff;
  height: 440px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 7px;
  width: 700px;
  word-wrap: break-word;
}

.hide{
  border: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  transition-duration: 1s;
  overflow: hidden;
}

/* Colors */
.black{color: #000;}
.red{color: #F00;}
.green{color: #14840C;}
.yellow{color: #B5BF1F;}
.blue{color: #00F;}
.magenta{color: #751D9C;}
.cyan{color: #00F;}
.white{color: #fff;}