/*!
  Author: Yukashimi
  Date: 12/12/2018
  File: eqtprev.css
*/

.avatar{
  border: 3px solid #2ca4db;
}

body{
  background-color: #f8f8f8;
}

.bot{
  background: #cbe6ff;
}

.botlink{
  color: #000;
}

.botlink:hover{
  background: #0f2f14;
  color: #fff;
}

.bot-message{
  background: #cbe6ff;
}

.chat-button{
  background: #0f2f14;
}

.chat-button:disabled{
  background: #c6ab8c;
  color: #65958c;
}

.chat-button:hover:enabled{
  background: #070829;
  transition-duration: 0.8s;
}

.chat-button:active:enabled{
  background: #000;
  transition-duration: 0.1s;
}

#checkup{
  border: 1px solid #381b02;
  transition-duration: 0.3s;
}

#checkup:focus{
  box-shadow: 0 0 0 .2rem rgba(80, 255, 0, 0.25);
  transition-duration: 0.15s;
}

.clicked:disabled{
  background: #274f77 !important;
}

#convo_list > li{
  border-bottom: 1px solid #e5e5e5;
  color: #212529;
  padding: 10px 24px;
}

.docs-toggler:hover{
  background: #474747;
  color: #fff;
  transition-duration: 0.3s;
}

#find{
  background: #0f2f14;
  color: #fff;
}

#find:hover{
  background: #11681e;
}

#find:active{
  background: #000;
}

.glossary{
  background: #fff;
  border: 0;
  border-radius: 12px;
  color: #2ca4db;
  padding: 1px 6px;
}

#log{
  color: #fff;
  background-color: #0f2f14;
  border-color: #0f2f14;
}

.logo-img{
  background: #fff;/*173810*/;
}

.logo-img:hover{
  background: #0f2f14;
}

li.user{
  background: #447678;
  color: #fff;
}

.message:after{
  border-bottom-color: #cbe6ff;
}

.msg-submit{
  background-color: #9bae44;
  color: #fff;
}

.msg-submit:hover, .fa-file-o:hover, .fa-file-image-o:hover{
  color: #91072c;
}

.monika-link, .chat-link{
  color: #168c0f;
}

.new, #dl{
  background: #0f2f14;
}

.new:hover, #dl:hover{
  background: #497766;
  transition-duration: 0.8s;
}

.new:active, #dl:active{
  background: #000;
  transition-duration: 0.1s;
}

.online{
  color: #2ca4db;
}

#reload-list{
  background: #dadada;
  color: #868686;
}

#reload-list:hover{
  background: #0f2f14;
  color: #fff;
}

#response{
  background: #cbffdd;
  color: #474747;
}

#start, #end{
  background-color: #0f2f14;
  border: 0;
  color: #fff;
}

#start:hover:enabled, #end:hover:enabled{
  background-color: #497766;
  border-color: #497766;
}

#start:focus:enabled, #end:focus:enabled{
  box-shadow: 0 0 0 .2rem rgba(80, 255, 0, 0.25);
}

.user{
  background-color: #f2feba;
}

.user-message{
  background: #f2feba;
}

.user-message:after{
  border-bottom-color: #f2feba;
}

#username, #password{
  background-color: #fff;
  border: 1px solid #d8d8d8;
  color: #495751;
}

#username:focus, #password:focus{
  background-color: #fff;
  border-color: #80ff9a;
  box-shadow: 0 0 0 .2rem rgba(80, 255, 0, 0.25);
  color: #495751;
}
