/*!
  Author: Yukashimi
  Date: 06/11/2018
  File: regius.css
*/

.avatar{
  border: 3px solid #ed8600;
}

body{
  background: #d6db91;
}

.bot-message, .bot, #convo_list > li:nth-child(odd){
  background: #ed8600;
}

.chat-button{
  background: #633a05;
}

.chat-button:disabled{
  background: #c6ab8c;
  color: #957d65;
}

.chat-button:hover:enabled{
  background: #2d190b;
  transition-duration: 0.8s;
}

.chat-button:active:enabled{
  background: #000;
  transition-duration: 0.1s;
}

#checkup{
  border: 1px solid #381b02;
}

.clicked:disabled{
  background: #561c0c !important;
}

.glossary{
  background: #fff;
  border: 0;
  border-radius: 12px;
  color: #ed8600;
  padding: 1px 6px;
}

li.user{
  background: #9da348;
  color: #fff;
}

.message:after{
  border-bottom-color: #ed8600;
}

.monika-link, .chat-link{
  color: #002760;
}

.new, #dl{
  background: #ed8600;
}

.new:hover, #dl:hover{
  background: #9da348;
  transition-duration: 0.8s;
}

.new:active, #dl:active{
  background: #000;
  transition-duration: 0.1s;
}

.online{
  color: #ed8600;
}

#response{
  background: rgba(200, 173, 110, 0.6);
}

.user{
  color: #9da348;
}

.user-message, #convo_list > li:nth-child(even){
  background: #9da348;
}

.user-message:after{
  border-bottom-color: #9da348;
}